<header class="main-header">
		<h1 class="name"><a href="/">Michael Chi</a></h1>
		<ul class="main-nav">
			<li><a href="#">skills</a></li>
			<li><a href="#">projects</a></li>
			<li><a href="#">work</a></li>
        </ul>
        <div class="nav-icons">
            <a class="fab fa-linkedin fa-2x" href="https://www.linkedin.com/in/michael-chi/"></a>
            <a class="fab fa-github-square fa-2x" href="https://github.com/michaelchi1997"></a>
        </div>
</header><!--/.main-header-->   