<div class="home">
	<img class="logo" src="images/header_background.jpeg">
	<h1 class="headline">Hi, my name is Michael Chi</h1>
	<span class="tagline">I am a Software Developer and Web Designer</span>
	<div class="home-buttons">
		<a download="Michael_Chi_Resume.pdf" href="/files/Michael_Chi_Resume.pdf" class="waves-effect waves-light btn blue-grey lighten-5">Resume
			<i class="fas fa-file-alt"></i>
		</a>
		<a class="waves-effect waves-light btn blue-grey lighten-5 modal-trigger" data-target="modal1" href="#modal1">Contact me!</a>
	</div>
</div>