<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Skills</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/fontawesome.css' />
    <link rel='stylesheet' href='/stylesheets/App.css' />
    <link rel='stylesheet' href='/stylesheets/headerFooter.css' />
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/projects.css">
    <link rel="stylesheet" href="/stylesheets/loader.css">
</head>

<body>
    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <%- include header.ejs %>
        <div class="projects-container">
            <div class="projects-row">
                <div class="project-content">
                    <div class="content-explain">
                        <h1>Web Portfolio</h1>
                        <hr/>
                        <div class="project-image">
                            <img src="/images/portfolio_project.png">
                        </div>
                        <p class="project-detail">
                            Using Node/Express, created a personal web portfolio to display my work experience and techinical projects.
                        </p>
                        <div class="project-github">
                            <a class="fab fa-github-square fa-2x tooltipped" data-position="bottom" data-delay="50" data-tooltip="Github Link" href="https://github.com/michaelchi1997/portfolio"></a>
                        </div>
                    </div>
                </div>
                <div class="project-content">
                    <div class="content-explain">
                        <h1>Coming Soon...</h1>

                    </div>
                </div>
            </div>
        </div>
        <%- include footer.ejs %>
        <%- include contactModal.ejs %>
</body>

</html>