<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work History</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/fontawesome.css' />
    <link rel='stylesheet' href='/stylesheets/App.css' />
    <link rel='stylesheet' href='/stylesheets/headerFooter.css' />
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/work.css">
</head>

<body>
    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <%- include header.ejs %>
        <div class="work-container">
            <div class="work-content">
                <div class="content-img">
                    <img src="/images/sortable_logo.png">
                </div>
                <div class="content-explain">
                    <h1>Software Developer</h1>
                    <hr/>
                    <ul>
                        <li>
                            <p>Using Angular and Scala, working with full-time engineers with upgrading Sortable Analytics Web
                                Platform with a complete new UI for clients with optmized user experience.</p>
                        </li>
                        <li>
                            <p>Working on integrating PrestoDB with AWS s3 and Apache Hive to increase performance of data querying.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="work-content">
                <div class="content-img">
                    <img src="/images/IBM_logo.svg">
                </div>
                <div class="content-explain">
                    <h1>Core Software Developer</h1>
                    <hr/>
                    <ul>
                        <li>
                            <p>As a fullstack web developer at IBM, maintained and upgraded internal API using Express.JS and
                                internal management tool using React.</p>
                        </li>
                        <li>
                            <p>Implemented SSO feature and IP Address Whitelist System to our Web Application - IBM Incentive
                                Compensation Management</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="work-content">
                <div class="content-img">
                    <img src="/images/Scotiabank_logo.svg">
                </div>
                <div class="content-explain">
                    <h1>Technical Analyst - Web</h1>
                    <hr/>
                    <ul>
                        <li>
                            <p>Created and maintained internal web tools using ASP.NET for investment bankers and traders, to
                                help them with daily operation.</p>
                        </li>
                        <li>
                            <p>Optmized performance of query, rendering and backend logic by more than 50%.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="work-content">
                <div class="content-img">
                    <img src="/images/TTC.svg">
                </div>
                <div class="content-explain">
                    <h1>Application Analyst</h1>
                    <hr/>
                    <ul>
                        <li>
                            <p>Maintained and upgraded a QA desktop application using VBA and Access.</p>
                        </li>
                        <li>
                            <p>Designed and developed web applications using ASP.NET, as well as modified SQL server by creating
                                stored procedures and triggers to optmize application performance.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <%- include footer.ejs %>
            <%- include contactModal.ejs %>
</body>

</html>