* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    font-size: .95em;
    margin-bottom: 1.8em;
}
h2,
h3,
a {
    color: #093a58;
}
h2,
h3 {
    margin-top: 0;
}
a {
    text-decoration: none;
}

#toast-container {
    top: auto !important;
    left: auto !important;
    bottom: 5%;
    right:3%;
  }

.success-toast {
    background-color: #3BB059;
    color: white;
}

.warning-toast {
    background-color: #FF9B2B;
    color: white;
}

/* div {
    border-style: solid;
}  */

