.projects-container {
    background: #3acec2;
    margin: auto;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
}

.project-content {
    padding: 10px 10px;
    background: lightgray;
    border-radius: 20px;
    margin-top: 30px;
    height: auto;
}

.content-explain {
    width: 100%;
}

.project-image {
    margin-top: 10px;
}

.project-image img {
    max-width:100%;
    max-height:100%;
}

.project-detail {
    margin-top: 10px;
}

.project-github {
    text-align: center;
}


@media (min-width: 769px) {
    .project-content {
        margin: 10px 80px;
    }
}

@media (min-width: 1025px) {

    .projects-container {
        height: 80vh;
		overflow-y: auto;
    }
    
    .projects-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-shrink: 0;
    }

    .project-content {
        flex: 0 20%;
        margin: 10px 40px;
    }

}