.skills-content {
   margin: auto;
   width: 80%;
}

.title {
    text-align: center;
    color: white
}

.card-image {
    vertical-align: auto;
    display: table;
}

.center-image img {
    padding: 5px;
    border: solid gray;
}

.center-image {
    width: 250px;
    height: 250px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.skills-explain {
    margin-top: 20px;
}

.skills-explain ul li {
    list-style-type: square;
    list-style-position: inside;
}

.card {
    margin: 15px;
    margin-top: 40px;
}