.skills-container {
    display: flex;
    flex-direction: column;
    background: #3acec2;
    margin: auto;
    padding: 40px 10px;;
    align-items: center;
    justify-content: center;
}

.skills-container img {
    display: none;
}

.skills-content {
    padding: 10px 10px;
    background: lightgray;
    border-radius: 20px;
    width: 95%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    height: auto;
}


.content-explain {
  width: 100%;
  margin: 10px;
}

.content-explain h1{
    margin-bottom: 5px;
    margin-top: 5px;
}

@media (min-width: 1025px) {
    .skills-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .skills-container img{
        display: block;
        max-width: 80%;
        max-height: 80%;
        align-self: center;
    
    }

    .skills-content {
        flex: 0 70%;
        margin: 10px 10px;
        height: 250px;
    }

}